<div class="card">
    <div class="p-fluid grid flex-column card-container">
        <div>
            <span class="col-6 md:col-6 text-right align-self-center pr-4">
                <img class="h-5rem" src="assets/img/duperu-logo.png" />
            </span>
        </div>
        <div class="col text-center p-0 m-0">
            <h1 class="col font-bold">¡Bienvenido(a) nuevamente!👋</h1>
        </div>
        <span class="col font-bold text-center p-4">Por favor, inicia sesión con tu cuenta corporativa 😄</span>
        <div class="col signIn" (click)="logIn()">
            <button
                class="col bg-blue-900 text-white border-none border-round flex align-items-center justify-content-center">
                <span class="m-2 text-xl">
                    Iniciar sesión
                </span>
                <img class="w-1 h-1 bg-cover bg-center bg-no-repeat" src="../../../../assets/img/google.img" alt="Logo google">
            </button>
        </div>
    </div>
</div>