.container {
    background: #fff;
    border-top: 1rem solid var(--primary-color);
    border-bottom: 1rem solid var(--primary-color);
    border-radius: 0.8rem;
    min-height: -webkit-fill-available;
}

.text-header {
    color: var(--primary-color);
}

.blue-line {
    background-color: var(--primary-color);
    height: 1rem;
}


@media screen and (max-width: 767px) {

    .container {
        border-radius: 0 !important;
    }
}

:host ::ng-deep {
    label:has(+ input),
    label:has(+ p-dropdown ),
    label:has(+ p-autocomplete)
    label:has(+ p-inputmask){
        color: var(--primary-color);
        font-size: 15px;
        font-weight: 500;
    }
    
    .text-h2 {
        font-size: larger;
        color: var(--primary-color)
    }

    .tag-calendar {
        color: var(--primary-color);
        font-weight: 500;
    }
}