:host ::ng-deep {
    .p-fieldset {
        min-height: 25.4rem !important;
    }
}

.container-products {
  height: 19.7rem;
  overflow: auto;
}

.container-products ul {
  margin: 0;
  overflow: hidden;
}

.item-product {
  width: 100%;
  max-height: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  box-shadow: 0px -1px 0px 0px rgba(17, 17, 17, 0.08) inset;
}